#search_box 
{
    font-style: italic;
    width: 30%; /* .searching의 max-width와 button 너비를 고려하여 조절 */
    padding: 12px 45px 12px 10px; /* 오른쪽 패딩을 늘려 아이콘 공간 확보 */
    border-radius: 20px;
    border: 2px solid #ccc;
    flex-grow: 1; /* .searching 내에서 남은 공간을 채우도록 */
    /* .searching의 max-width에 따라 input의 최종 너비가 달라지므로 조절 필요 */
}

#search_button 
{
    background-color: transparent; 
    background-image: url('search.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    position: absolute;
    right: calc(50% - (30% / 2) - 165px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    /* **아이콘 색상을 어두운 회색으로 변경하는 필터 추가** */
    filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(110%);
    /* 이 필터는 흰색 아이콘에 적용했을 때 어두운 회색으로 바꿉니다. */
    /* 아이콘 원본 색상에 따라 'brightness' 값을 조절하여 원하는 회색을 찾으세요. */
}

#link_button 
{
    /* 깃허브 아이콘 이미지 경로로 변경 */
    background-image: url('github.png');
    background-color: transparent; /* 배경색 투명으로 설정 */
    background-repeat: no-repeat;
    background-position: center;
    width: 80px; /* 버튼의 너비는 아이콘 크기에 맞게 */
    height: 80px; /* 버튼의 높이는 아이콘 크기에 맞게 */
    background-size: 60% 60%;
    border-radius: 40px;
    border: none; /* 테두리 제거 */
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);

    filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(60%);
}